<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>CopyToMailboxURL</key>
		<string>imap://jklein%40doximity.com/GitHub</string>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>B22F85E2-9F56-4BFD-B439-00A88BC11AE7</string>
				<key>Expression</key>
				<string>noreply@github.com</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
		</array>
		<key>Deletes</key>
		<false/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MailboxURL</key>
		<string>imap://jklein%40doximity.com/GitHub</string>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>3D501977-87AB-4208-AF4F-62E0BC1D1A24</string>
		<key>RuleName</key>
		<string>Dox Github</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<true/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>89CD5395-5EDB-4FD9-A53E-5B467C1FA6A4</string>
				<key>Expression</key>
				<string>webdev@doximity.com</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>3B3E7605-EC54-4D07-85AA-DD62976CE364</string>
				<key>Expression</key>
				<string>webdev@doximity.com</string>
				<key>Header</key>
				<string>To</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>00867053-5C80-4C11-852C-E345EE61035C</string>
				<key>Expression</key>
				<string>Your Twilio account has been recharged</string>
				<key>Header</key>
				<string>Subject</string>
			</dict>
		</array>
		<key>Deletes</key>
		<true/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>111208B2-60EA-4D9E-90F1-A7735B877389</string>
		<key>RuleName</key>
		<string>Twilio</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<false/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>CopyToMailboxURL</key>
		<string>imap://jklein%40doximity.com/GitHub</string>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>536AD6D5-72B3-4D33-9ACE-17A015093407</string>
				<key>Expression</key>
				<string>noreply@heroku.com</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>1DAF9045-6813-4FFD-9D02-CF65FDB75979</string>
				<key>Expression</key>
				<string>webdev@doximity.com</string>
				<key>Header</key>
				<string>To</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>E3AFD7BE-2EAA-4EE7-A626-647920C85847</string>
				<key>Expression</key>
				<string>Invitation to collaborate on</string>
				<key>Header</key>
				<string>Subject</string>
			</dict>
		</array>
		<key>Deletes</key>
		<false/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MailboxURL</key>
		<string>imap://jklein%40doximity.com/GitHub</string>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>88860AD9-6311-4008-B07D-F85D624F4670</string>
		<key>RuleName</key>
		<string>dox heroku collaborate</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<true/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>94CB0D47-CC65-44FF-9B16-C8FBDE0A9D7C</string>
				<key>Expression</key>
				<string>team@fullstory.com</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>9B8F9DBA-7BBF-47A0-B3EB-46BC259556B8</string>
				<key>Expression</key>
				<string>webdev+tf@doximity.com</string>
				<key>Header</key>
				<string>To</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
		</array>
		<key>Deletes</key>
		<true/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>B4BB0A0D-87AD-49ED-BB01-B924CBBC124C</string>
		<key>RuleName</key>
		<string>dox fullstory</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<false/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>491601BC-D906-4364-9D84-6641E544257B</string>
				<key>Expression</key>
				<string>automated@airbnb.com</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>5C3DF2D9-AAE9-41FC-B114-CDAFCCBDD107</string>
				<key>Expression</key>
				<string>kleinjm007@gmail.com</string>
				<key>Header</key>
				<string>To</string>
			</dict>
		</array>
		<key>Deletes</key>
		<true/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>D775A5E5-D817-4B26-829C-DC0B173ED919</string>
		<key>RuleName</key>
		<string>airbnb automated</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<false/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>67C932F0-BE65-4E18-BCEB-BD67C0DDC1A1</string>
				<key>Expression</key>
				<string>express@airbnb.com</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>F1C2ED28-3558-4400-9870-3B2FAE32791A</string>
				<key>Expression</key>
				<string>kleinjm007@gmail.com</string>
				<key>Header</key>
				<string>To</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
		</array>
		<key>Deletes</key>
		<true/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>568EE2BC-AB80-453B-BAA0-B07CA4D1945C</string>
		<key>RuleName</key>
		<string>airbnb express</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<false/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>7546D43A-7972-4F6E-977D-21E8D7067C0E</string>
				<key>Expression</key>
				<string>tracker@pivotal.io</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>73FB145D-82B1-432D-B0F4-504DBC6FEE63</string>
				<key>Expression</key>
				<string>webdev@doximity.com</string>
				<key>Header</key>
				<string>To</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
		</array>
		<key>Deletes</key>
		<true/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>5AD884D3-5E72-4062-9915-5056A7B9D82A</string>
		<key>RuleName</key>
		<string>dox pivitol recipt</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<false/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>353666CF-6CF3-49B2-9760-646EFD64D25C</string>
				<key>Expression</key>
				<string>SchwabAlerts.AccountActivity@schwab.com</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>E383EBC0-9366-495B-9552-0CE29222C509</string>
				<key>Expression</key>
				<string>KLEINJM007@GMAIL.COM</string>
				<key>Header</key>
				<string>To</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>6D20D494-4B58-472B-A5A2-89FE207010C6</string>
				<key>Expression</key>
				<string>Your Schwab Bank eStatement is available</string>
				<key>Header</key>
				<string>Subject</string>
			</dict>
		</array>
		<key>Deletes</key>
		<true/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>037B7221-72F8-436F-B0AC-19C0E43ED8B4</string>
		<key>RuleName</key>
		<string>schwab estatement ready</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<false/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>CopyToMailboxURL</key>
		<string>imap://jklein%40doximity.com/Monday%20Scrum</string>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>1A82949D-2D51-4730-ADDF-E2D76A5A71D9</string>
				<key>Expression</key>
				<string>internaldev@doximity.com</string>
				<key>Header</key>
				<string>To</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>0C50BBAE-02C0-42BE-8DD6-32D1AF44CFE9</string>
				<key>Expression</key>
				<string>sbuck@doximity.com</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>DF672CEA-77B4-4452-9904-34BE5AE464B3</string>
				<key>Expression</key>
				<string>Monday Scrum</string>
				<key>Header</key>
				<string>Subject</string>
			</dict>
		</array>
		<key>Deletes</key>
		<false/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MailboxURL</key>
		<string>imap://jklein%40doximity.com/Monday%20Scrum</string>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>379B90BA-0ED7-4018-88BE-A2C231A7492C</string>
		<key>RuleName</key>
		<string>dox monday scrum</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<true/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>C86C57F8-075A-410E-97B3-D0AD639C31F3</string>
				<key>Expression</key>
				<string>hugs@fullstory.com</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>87EBC690-DC96-4E50-8155-32895BEC9346</string>
				<key>Expression</key>
				<string>webdev@doximity.com</string>
				<key>Header</key>
				<string>To</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
		</array>
		<key>Deletes</key>
		<true/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>DB84C969-EC7F-4DB8-B420-D7873A937CD1</string>
		<key>RuleName</key>
		<string>dox fullstory</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<false/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>CD88E8AB-ED89-48E5-8575-383695DA527D</string>
				<key>Expression</key>
				<string>no-reply@alertsp.chase.com</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>2A97A2DC-22AB-4438-8A2E-03AAFAF1F1EB</string>
				<key>Expression</key>
				<string>kleinjm007@gmail.com</string>
				<key>Header</key>
				<string>To</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>2C68AB54-4FDA-412A-8C98-4E12F122E85B</string>
				<key>Expression</key>
				<string>Your credit card statement is available online</string>
				<key>Header</key>
				<string>Subject</string>
			</dict>
		</array>
		<key>Deletes</key>
		<true/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>718A61F7-5F0C-4622-895D-0372E50D7F66</string>
		<key>RuleName</key>
		<string>Chase statement</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<false/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>D8A77925-8199-41D4-8598-98C4A04E7759</string>
				<key>Expression</key>
				<string>newsletter@circleci.com</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>19614371-CC64-49BD-802B-625A459F88A8</string>
				<key>Expression</key>
				<string>webdev@doximity.com</string>
				<key>Header</key>
				<string>To</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
		</array>
		<key>Deletes</key>
		<true/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>B8B29D36-7FBB-41FC-AA69-DD7D9065FF17</string>
		<key>RuleName</key>
		<string>Dox Circle CI</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<false/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>497E448E-2032-4EB9-A1DB-2A569F1823EC</string>
				<key>Expression</key>
				<string>billing@newrelic.com</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>A16673DE-6FBC-495F-A8AE-123AFA020697</string>
				<key>Expression</key>
				<string>webdev+newrelic@doximity.com</string>
				<key>Header</key>
				<string>To</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
		</array>
		<key>Deletes</key>
		<true/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>D51CE599-E045-47D8-9C7F-7C4D4E7E49FE</string>
		<key>RuleName</key>
		<string>dox new relic</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<false/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>1E1EC229-C462-4311-B8EA-FBB92A85248C</string>
				<key>Expression</key>
				<string>maxwell@fullstory.com</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>BF89E9F2-CA8D-443F-A51A-2519C5AF28EC</string>
				<key>Expression</key>
				<string>webdev@doximity.com</string>
				<key>Header</key>
				<string>To</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>4FBA9C51-E313-4E1F-8E7D-23752330C5FC</string>
				<key>Expression</key>
				<string>Uh Oh! Looks Like Recording is Paused</string>
				<key>Header</key>
				<string>Subject</string>
			</dict>
		</array>
		<key>Deletes</key>
		<true/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>ABE350E4-E191-4F79-B46A-5A9C874CC939</string>
		<key>RuleName</key>
		<string>Dox full story</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<false/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>21534B5D-A2EF-4F69-A553-74EE9A0EF5C3</string>
				<key>Expression</key>
				<string>support@rubytapas.com</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>714ADC7B-3DC7-4CB4-98E6-2FF9F182B16A</string>
				<key>Expression</key>
				<string>webdev@doximity.com</string>
				<key>Header</key>
				<string>To</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>BA3C7746-032A-4118-AD71-CCD2E9692B01</string>
				<key>Expression</key>
				<string>** Payment Receipt</string>
				<key>Header</key>
				<string>Subject</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
		</array>
		<key>Deletes</key>
		<true/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>D00158A1-69E2-40E4-A7E2-A0EFC61DCBCE</string>
		<key>RuleName</key>
		<string>dox tapas payment</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<false/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>88026293-3843-465B-AA6E-9EFE2E7017A9</string>
				<key>Expression</key>
				<string>info@superfeedr.com</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>FE974D4D-D12E-42F6-91FE-1AA60B6A895A</string>
				<key>Expression</key>
				<string>webdev@doximity.com</string>
				<key>Header</key>
				<string>To</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
		</array>
		<key>Deletes</key>
		<true/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>82D67DDA-F6E0-440B-A98C-BA4067365D88</string>
		<key>RuleName</key>
		<string>Dox Superfedr</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<false/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>9CE34D09-F0B6-4C58-87C3-F7A0402F684F</string>
				<key>Expression</key>
				<string>info@superfeedr.com</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>F181DBDB-A57F-4EB5-BB33-371FF1175C57</string>
				<key>Expression</key>
				<string>webdev+superfeedrtracker@doximity.com</string>
				<key>Header</key>
				<string>To</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
		</array>
		<key>Deletes</key>
		<true/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>5078E642-F496-4ECA-99BF-E62B6C451329</string>
		<key>RuleName</key>
		<string>Dox Superfeedr 2</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<false/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>679C5F6F-A957-4949-90BD-EE26D0641FC3</string>
				<key>Expression</key>
				<string>info@superfeedr.com</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>7753212E-DEE4-40AE-A687-FD583A2C553B</string>
				<key>Expression</key>
				<string>webdev+superfeedrtrackerqa@doximity.com</string>
				<key>Header</key>
				<string>To</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
		</array>
		<key>Deletes</key>
		<true/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>DE42E731-8CBF-400E-975C-A5CC1292E52D</string>
		<key>RuleName</key>
		<string>Dox superfeedr 3</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<false/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>3FB4F274-73E6-495F-8045-7AEA75B1C2B6</string>
				<key>Expression</key>
				<string>support@pusher.com</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>371DF56D-6033-4EED-827D-F1F7B4EAEA7B</string>
				<key>Expression</key>
				<string>Approaching Your Pusher Plan Connections Limit</string>
				<key>Header</key>
				<string>Subject</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
		</array>
		<key>Deletes</key>
		<true/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>71E6DDCC-C09C-4071-80D6-21B1554FEA21</string>
		<key>RuleName</key>
		<string>Dox Pusher Plan Limit</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<false/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>C27760EE-6D20-4E94-BDC2-3AFF290BA103</string>
				<key>Expression</key>
				<string>billing@newrelic.com</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>0DC96757-D80F-470F-AD46-B39464314C15</string>
				<key>Expression</key>
				<string>[New Relic] Payment receipt</string>
				<key>Header</key>
				<string>Subject</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
		</array>
		<key>Deletes</key>
		<true/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>EE719239-911D-4508-82C9-6B16FB4296A3</string>
		<key>RuleName</key>
		<string>Dox New Relic Payment</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<false/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>CopyToMailboxURL</key>
		<string>imap://kleinjm007%40gmail.com/Tickets%20and%20Orders/Uber</string>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>BE396955-73D7-475F-AB66-A4B271B3D0B2</string>
				<key>Expression</key>
				<string>uber.us@uber.com</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
		</array>
		<key>Deletes</key>
		<false/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MailboxURL</key>
		<string>imap://kleinjm007%40gmail.com/Tickets%20and%20Orders/Uber</string>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>6E67092A-206A-4EF1-8EEE-EC417610617D</string>
		<key>RuleName</key>
		<string>Uber 2</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<true/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>CopyToMailboxURL</key>
		<string>imap://kleinjm007%40gmail.com/Tickets%20and%20Orders/Venmo</string>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>80E50066-72F4-41BD-9692-DE5C75F0F607</string>
				<key>Expression</key>
				<string>venmo@venmo.com</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
		</array>
		<key>Deletes</key>
		<false/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MailboxURL</key>
		<string>imap://kleinjm007%40gmail.com/Tickets%20and%20Orders/Venmo</string>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>8CD45BF8-A9BE-41BA-BE20-370EDC9B71DC</string>
		<key>RuleName</key>
		<string>Venmo</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<true/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>CopyToMailboxURL</key>
		<string>imap://jklein%40doximity.com/CircleCI</string>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>6605245E-F090-4A6E-BC76-4C568244A3BA</string>
				<key>Expression</key>
				<string>no-reply@circleci.com</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>86ABB181-D6DA-4A66-A9B6-BBF15055FA98</string>
				<key>Expression</key>
				<string>doximity/doximity on master</string>
				<key>Header</key>
				<string>Subject</string>
			</dict>
		</array>
		<key>Deletes</key>
		<false/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MailboxURL</key>
		<string>imap://jklein%40doximity.com/CircleCI</string>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>36AB086D-36A8-4749-BAA3-5B1EC43BFA31</string>
		<key>RuleName</key>
		<string>Dox CircleCI master brach</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<true/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>CopyToMailboxURL</key>
		<string>imap://jklein%40doximity.com/Bugsnag</string>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>25A0292D-D48B-496D-AEAB-A38E0F41792F</string>
				<key>Expression</key>
				<string>notifications@bugsnag.com</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
		</array>
		<key>Deletes</key>
		<false/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MailboxURL</key>
		<string>imap://jklein%40doximity.com/Bugsnag</string>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>744EFB8B-B731-496C-82E9-F02AB02DE43A</string>
		<key>RuleName</key>
		<string>Dox Bugsnag</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<true/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>CopyToMailboxURL</key>
		<string>imap://kleinjm007%40gmail.com/Flight%20Deals</string>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>72B9EA2E-1A92-470A-B315-22A35D1485AB</string>
				<key>Expression</key>
				<string>scott@scottscheapflights.com</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
		</array>
		<key>Deletes</key>
		<false/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MailboxURL</key>
		<string>imap://kleinjm007%40gmail.com/Flight%20Deals</string>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>DB6C2D18-2D50-46FC-80D7-AEA784703063</string>
		<key>RuleName</key>
		<string>ScottKeys</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<true/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>D34C91BE-24CD-4F27-B9B3-13C0F2299755</string>
				<key>Expression</key>
				<string>no-reply@dropbox.com</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
		</array>
		<key>Deletes</key>
		<true/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>762A918C-7577-429E-91B2-F1C39151A564</string>
		<key>RuleName</key>
		<string>Dropbox</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<false/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>CopyToMailboxURL</key>
		<string>imap://jklein%40teikametrics.com/Calendar</string>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>892D1AB6-BBF8-407F-ACC1-72D7F3FEE94F</string>
				<key>Expression</key>
				<string>jklein@teikametrics.com</string>
				<key>Header</key>
				<string>To</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>C40F285B-F123-4A6F-B77A-0ACF5E33C376</string>
				<key>Expression</key>
				<string>Invitation:</string>
				<key>Header</key>
				<string>Subject</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>A12FEE5E-BA64-4ABC-A068-AC16CEA653DF</string>
				<key>Expression</key>
				<string>(jklein@teikametrics.com)</string>
				<key>Header</key>
				<string>Subject</string>
			</dict>
		</array>
		<key>Deletes</key>
		<false/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MailboxURL</key>
		<string>imap://jklein%40teikametrics.com/Calendar</string>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>88ACC195-5EEF-4FBB-8D5E-2CE0BCED3691</string>
		<key>RuleName</key>
		<string>Calendar</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<true/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>DCFEC70D-FDCA-4D0D-833C-CD8D3CB0E115</string>
				<key>Expression</key>
				<string>kleinjm007@gmail.com</string>
				<key>Header</key>
				<string>AnyRecipient</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>2F5F3034-606A-4D25-AA29-66205672CEB0</string>
				<key>Expression</key>
				<string>noreply@youtube.com</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
		</array>
		<key>Deletes</key>
		<true/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>C85DC74A-6669-4DB0-8949-1E8C603EB25B</string>
		<key>RuleName</key>
		<string>YouTube</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<false/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>CopyToMailboxURL</key>
		<string>imap://kleinjm007%40gmail.com/Tickets%20and%20Orders/Uber</string>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>62EC3B82-941F-41E5-90CD-E21F61F5F324</string>
				<key>Expression</key>
				<string>kleinjm007@gmail.com</string>
				<key>Header</key>
				<string>AnyRecipient</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>92884A96-AC14-4D46-A136-F4BF6D74B0DD</string>
				<key>Expression</key>
				<string>receipts@uber.com</string>
				<key>Header</key>
				<string>From</string>
				<key>Qualifier</key>
				<string>IsEqualTo</string>
			</dict>
		</array>
		<key>Deletes</key>
		<false/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>MailboxURL</key>
		<string>imap://kleinjm007%40gmail.com/Tickets%20and%20Orders/Uber</string>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<true/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>9F4FBFC3-D328-4327-BBDA-BE1917677C5B</string>
		<key>RuleName</key>
		<string>Uber</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<true/>
		<key>TimeStamp</key>
		<integer>405447826</integer>
	</dict>
</array>
</plist>
