global !p
from snippet_helpers_vue import *
endglobal


snippet _skel "template" b
<template>
	 $0
</template>
<script>
export default {
	name: '`!p vue_component_name(path, snip)`',
};
</script>
endsnippet
