[user]
    name = James Klein
    email = kleinjm007@gmail.com
    signingkey = B37B7953A6BD2CB0

[alias]
    a = add -A
    ap = add -p
    c = commit --verbose
    ca = commit -a --verbose
    cam = commit -a -m
    cm = commit -m
    co = checkout
    cob = checkout -b
    d = diff
    dc = diff --cached
    ds = diff --stat
    l = log
    m = commit --amend --verbose
    main = !git fetch --prune && git checkout main && git pull origin main && :
    s = status -s

    # push the current branch
    publish = push -u origin HEAD

    # list branches sorted by last modified
    b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
    br = branch

    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all

    # list aliases
    la = "!git config -l | grep alias | cut -c 7-"

[core]
    editor = nvim
    mergeoptions = --no-edit

[init]
    defaultBranch = main

[diff]
    colorMoved = zebra

[pull]
    rebase = false
    ff = only

[commit]
    gpgsign = false

[tag]
    gpgSign = false
